/* ----- Custom Fonts Start Here ----- */

h1 {
font-weight: 600 !important;
font-style: italic !important;
}

h2 {
font-weight: 400 !important;
font-style: italic !important;
}

h3 {
font-weight: 400 !important;
font-style: italic !important;
}

h4 {
font-weight: 400 !important;
font-style: italic !important;
}

h5 {
font-weight: 400 !important;
font-style: italic !important;
}

h6 {
font-weight: 300 !important;
font-style: italic !important;
}

p {
font-weight: 300 !important;
}

/* Ensure highlighted font headlines wrap */

.ui-e-headline-text .ui-e-headline-highlighted {
white-space: normal;
}

/* --------- End --------- */


/* ----- Custom Buttons Start Here ----- */

/* Transparent Gradient Button Style */
.gradient_button_transparent a {
text-transform: uppercase !important;
color: #fff !important;
border-style: solid !important;
border: solid 2px transparent;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(110deg, var(--e-global-color-uicore_primary), var(--e-global-color-uicore_secondary)) !important;
background-origin: border-box !important;
background-clip: content-box, border-box !important;
box-shadow: 2px 1000px 1px #120329 inset !important;
transition: all ease-in-out 0.3s;
}

.gradient_button_transparent a:hover {
box-shadow: none !important;
transition: all ease-in-out 0.3s;
}

/* Transparent Alternate Button Style */
.gradient_button_transparent_alternative a {
text-transform: uppercase !important;
color: #fff !important;
border-style: solid !important;
border: solid 2px transparent;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, var(--e-global-color-uicore_primary), var(--e-global-color-uicore_secondary)) !important;
background-origin: border-box !important;
background-clip: content-box, border-box !important;
box-shadow: 2px 1000px 1px #120329 inset !important;
transition: all ease-in-out 0.3s;
}

.gradient_button_transparent_alternative a:hover {
box-shadow: none !important;
transition: all ease-in-out 0.3s;
}

/* Solid Gradient Button Style */
.gradient_button_solid a {
line-height: 0;
text-transform: uppercase !important;
color: #fff !important;
border-style: solid !important;
border: solid 2px transparent;
border-radius: 5px;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(110deg, var(--e-global-color-uicore_accent), var(--e-global-color-uicore_secondary)) !important;
background-origin: border-box !important;
background-clip: content-box, border-box !important;
transition: all ease-in-out 0.3s;
box-shadow: none !important;
}

.gradient_button_solid:hover a {
color: #120329 !important
}

/* Solid Alternative Gradient Button Style */
.gradient_button_solid_alternative a {
line-height: 0;
text-transform: uppercase !important;
color: #fff !important;
border-style: solid !important;
border: solid 2px transparent;
border-radius: 5px;
background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(110deg, var(--e-global-color-uicore_accent), var(--e-global-color-uicore_secondary)) !important;
background-origin: border-box !important;
background-clip: content-box, border-box !important;
transition: all ease-in-out 0.3s;
box-shadow: none !important;
}

.gradient_button_solid_alternative:hover a {
color: #120329 !important
}

/* --------- End --------- */

/* Pricing Switcher Display Grid */

#Yearly, #Monthly {
display: grid !important;	
}


/* ----- Blog Post Styling ----- */

/* Reduce Space Above Title */
.uicore-post-info {
margin-top: 1em !important;	
}

/* Reduce Space Above and Below H Tags */
.wp-block-heading {
margin-top: 1.5em !important;
margin-bottom: 0.5em !important;
}

/* Blog Sidebar Spacing */
.uicore-sidebar ul {
padding: 0px !important;
}

.wp-block-latest-posts__post-title {
margin-top: 1em !important;
}

.wp-block-latest-posts__post-title:hover {
color: inherit !important;
}

.wp-block-latest-posts__post-date {
margin-top: 1em !important;
}

/* --------- End --------- */

/* ----- Elementor Component Styling Overrides ----- */

/* Elementor List Padding Bug */
#elementor-icon-list-items {
padding-inline-start: 0px !important;
}

#elementor-icon-list-items ul.elementor-icon-list-items {
    padding: 0px;
}
